<div class="extension-container">
	<p class="extension-title">Data Extension</p>
	<div class="extension-app">
		<p class="extension-subtitle">Get data from App</p>
		<div class="extension-buttons">
			<button class="extension-button" (click)="getData()">Resume</button>
			<button class="extension-button" (click)="getData()">Info</button>
		</div>
	</div>

	<div class="extension-app">
		<p class="extension-subtitle">Get data from App 2</p>
		<div class="extension-buttons">
			<button class="extension-button" (click)="getData()">Posts</button>
		</div>
	</div>

	<div class="extension-app">
		<p class="extension-subtitle">Get data from App 3</p>
		<div class="extension-buttons">
			<button class="extension-button" (click)="getData()">Resume</button>
			<button class="extension-button" (click)="getData()">
				List of items
			</button>
			<button class="extension-button" (click)="getData()">
				List of users
			</button>
		</div>
	</div>
</div>
